name: nekobox build matrix
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Release Tag and version"
        required: true
      publish:
        description: "Publish Release"
        type: boolean
        required: false
      text:
        description: "Release Description"
        required: false
      source:
        description: "Skip building binaries, distribute only unified source"
        type: boolean
        required: false
      updater:
        description: "Ship binaries without updater"
        type: boolean
        required: false
      build_windows:
        description: "Build windows binaries"
        type: boolean
        default: true
        required: false
      build_ubuntu:
        description: "Build linux binaries"
        type: boolean
        default: true
        required: false
      publish_chocolatey:
        description: "Publish chocolatey packages"
        type: boolean
        default: false
        required: false
jobs:
  build-go:
    permissions:
      contents: read
    strategy:
      max-parallel: 1
      matrix:
        include:
          - cross_os: public
            cross_arch: public
            go_version: "1.25.0"
          - cross_os: linux
            cross_arch: amd64
            go_version: "1.25.0"
            allow: ${{ github.event.inputs.build_ubuntu }}
          - cross_os: linux
            cross_arch: arm64
            go_version: "1.25.0"
            allow: ${{ github.event.inputs.build_ubuntu }}
          - cross_os: windows
            cross_arch: amd64
            go_version: "1.25.0"
            allow: ${{ github.event.inputs.build_windows }}
#          - cross_os: windows
#            cross_arch: arm64
#            go_version: "1.25.0"
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checking out sources
        if: matrix.cross_os == 'public' || ( github.event.inputs.source != 'true' && github.event.inputs.allow == 'true' )
        uses: actions/checkout@v4.2.2
      - name: Cache Common Download
        id: cache-common
        if: matrix.cross_os == 'public' || ( github.event.inputs.source != 'true' && github.event.inputs.allow == 'true' )
        uses: actions/cache@v4.2.3
        with:
          path: artifacts.tgz
          key: CommonCache-${{ matrix.cross_os }}-${{ matrix.cross_arch }}-${{ hashFiles('script/build_go.sh', 'core/*') }}-${{ matrix.go_version }}
      - name: Install Golang
        if: ( matrix.cross_os == 'public' || github.event.inputs.source != 'true' ) && steps.cache-common.outputs.cache-hit != 'true'
        uses: actions/setup-go@v5.5.0
        with:
          go-version: ${{ matrix.go_version }}
          cache-dependency-path: |
            core/server/go.sum
            core/updater/go.sum
      - name: Install Protoc
        if: matrix.cross_os == 'public' || ( github.event.inputs.source != 'true' && github.event.inputs.allow == 'true' )
        run: |
          curl -LO "https://github.com/protocolbuffers/protobuf/releases/download/v31.1/protoc-31.1-linux-x86_64.zip"
          unzip "protoc-31.1-linux-x86_64.zip" -d protoc_install
          cp ./protoc_install/bin/protoc /usr/local/bin
          protoc --version
      - name: Installing protoc-gen-go
        if: matrix.cross_os == 'public' || ( github.event.inputs.source != 'true' && github.event.inputs.allow == 'true' )
        run: |
          go install github.com/golang/protobuf/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
      - name: Build golang parts
        if: steps.cache-common.outputs.cache-hit != 'true' && matrix.cross_os != 'public' && ( github.event.inputs.source != 'true' && github.event.inputs.allow == 'true' )
        shell: bash
        run: |
          if [[ ${{ github.event.inputs.updater }} == 'true' ]]
            export SKIP_UPDATER=y
          fi
          GO_MOD_TIDY=yes GOOS=${{ matrix.cross_os }} GOARCH=${{ matrix.cross_arch }} ./script/build_go.sh
      - name: Build vendor
        if: steps.cache-common.outputs.cache-hit != 'true' && matrix.cross_os == 'public'
        shell: bash
        run: |
          bash -x ./script/deploy_vendor.sh
      - name: Tar files
        if: ( matrix.cross_os == 'public' || github.event.inputs.source != 'true' ) && steps.cache-common.outputs.cache-hit != 'true'
        run: tar czvf artifacts.tgz ./deployment
      - name: Uploading Artifact
        if: matrix.cross_os == 'public' || ( github.event.inputs.source != 'true' && github.event.inputs.allow == 'true' )
        uses: actions/upload-artifact@v4.6.2
        with:
          name: nekobox-${{ github.sha }}-Common-${{ matrix.cross_os }}-${{ matrix.cross_arch }}
          path: artifacts.tgz
  build-cpp-windows:
    permissions:
      contents: read
    needs:
      - build-go
    strategy:
      matrix:
        include:
          - platform: windows-latest
            triplet: x64-mingw-static
            target: x86_64
            qt_version: 6.10.0
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    if: github.event.inputs.build_windows == 'true' && github.event.inputs.source != 'true'
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      INPUT_VERSION: ${{ github.event.inputs.tag }}
    steps:
      - name: Checking out sources
        uses: actions/checkout@v4.2.2
        with:
          submodules: "recursive"

      - name: Install Chocolatey Packages
        uses: ConorMacBride/install-package@v1
        with:
          choco: nsis protoc

      - name: Download Artifacts
        uses: actions/download-artifact@v4.3.0
        with:
          path: download-artifact

      - name: Download Srslist
        shell: bash
        run: |
          curl -fLso "srslist.json" "https://github.com/qr243vbi/ruleset/raw/refs/heads/rule-set/srslist.json"
          mkdir build

      - name: Install mingw
        uses: bwoodsend/setup-winlibs-action@v1.15
        with:
          architecture: ${{ matrix.target }}

      - name: Install ninja-build tool
        uses: seanmiddleditch/gha-setup-ninja@v6

      - name: Qt static Cache
        id: cache-static-Qt
        uses: actions/cache@v4
        with:
          path: qt6_build
          key: QtStaticCache-${{ matrix.platform }}-${{ matrix.target }}-Qt${{ matrix.qt_version }}-${{ hashFiles('script/build_qt_static_windows.bat') }}

      - name: Qt static source Cache
        id: cache-static-source-Qt
        if: steps.cache-static-Qt.outputs.cache-hit != 'true'
        uses: actions/cache@v4
        with:
          path: qt6
          key: QtStaticSourceCache-Qt${{ matrix.qt_version }}

      - name: Init Qt Submodules
        shell: bash
        if: steps.cache-static-Qt.outputs.cache-hit != 'true'
        run: |
          if [[ -d qt6 ]]; then
            echo "Got qt6 from cache"
          else
            git clone --depth 200 --branch v${{ matrix.qt_version }} https://github.com/qt/qt5 qt6
            echo "Qt6 successfully cloned"
          fi
          ./qt6/configure.bat -init-submodules -submodules qtdeclarative,qtbase,qtimageformats,qtsvg,qttranslations,qtgrpc

      - name: vcpkg build
        uses: johnwason/vcpkg-action@v7
        id: vcpkg
        with:
            pkgs: openssl protobuf
            triplet: ${{ matrix.triplet }}
            token: ${{ github.token }}
            cache-key: vcpkg-${{ matrix.platform }}-${{ matrix.triplet }}-${{ matrix.target }}

      - name: Build Qt Submodules
        shell: powershell
        if: steps.cache-static-Qt.outputs.cache-hit != 'true'
        run: ./script/build_qt_static_windows.bat

#      - name: Tar files
#        shell: bash
#        run: tar czvf artifacts.tgz ./deployment

#      - name: Uploading Artifact
#        uses: actions/upload-artifact@v4.6.2
#        with:
#          name: nekobox-${{ github.sha }}-${{ matrix.platform }}-${{ matrix.target }}-Qt${{ matrix.qt_version }}
#          path: artifacts.tgz

  build-cpp:
    permissions:
      contents: read
    needs:
      - build-go
    strategy:
      matrix:
        include:
          - platform: ubuntu-24.04
            qt_version: "6.10.0"
            target: amd64
          - platform: ubuntu-24.04-arm
            qt_version: "6.10.0"
            target: arm64
#          - platform: windows-2022
#            qt_version: "6.9.1"
#            target: x86_64
#          - platform: windows-11-arm
#            qt_version: "6.9.1"
#            target: arm64
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    if: github.event.inputs.build_ubuntu == 'true' && github.event.inputs.source != 'true'
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      INPUT_VERSION: ${{ github.event.inputs.tag }}
    steps:
      - name: Checking out sources
        uses: actions/checkout@v4.2.2
        with:
          submodules: "recursive"

      - name: Download Artifacts
        uses: actions/download-artifact@v4.3.0
        with:
          path: download-artifact

      - name: Install Qt
        uses: jurplel/install-qt-action@v4.3.0
        with:
          version: ${{ matrix.qt_version }}
          setup-python: true
          cache: true
          modules: qtcharts qtgrpc
          cache-key-prefix: QtCache-${{ matrix.platform }}-${{ matrix.target }}

      - name: Download Srslist
        shell: bash
        run: |
          curl -fLso "srslist.json" "https://github.com/qr243vbi/ruleset/raw/refs/heads/rule-set/srslist.json"
          mkdir build

      - name: Linux - Install apt dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libfuse2 patchelf squashfs-tools openssl-dev openssl protobuf-compiler
          version: 1.0

      - name: Linux - Generate MakeFile and Build
        shell: bash
        run: |
          cd build
          if [[ ${{ github.event.inputs.updater }} == 'true' ]]; then export SKIP_UPDATE_BUTTON=ON; else export SKIP_UPDATE_BUTTON=OFF; fi
          cmake -GNinja -DSKIP_UPDATE_BUTTON="${SKIP_UPDATE_BUTTON}" -DCMAKE_BUILD_TYPE=Release ..
          ninja
          cd ..
          bash -x ./script/deploy_linux64.sh

      - name: Tar files
        shell: bash
        run: tar czvf artifacts.tgz ./deployment

      - name: Uploading Artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: nekobox-${{ github.sha }}-${{ matrix.platform }}-${{ matrix.target }}-Qt${{ matrix.qt_version }}
          path: artifacts.tgz

  publish:
    name: Pack & Publish Release
    runs-on: ubuntu-latest
    needs:
      - build-cpp
      - build-cpp-windows
    permissions:
      contents: write
      actions: read
    env:
      INPUT_VERSION: ${{ github.event.inputs.tag }}
    steps:
      - name: Checking out sources
        uses: actions/checkout@v4.2.2
      - name: Download Artifacts
        uses: actions/download-artifact@v4.3.0
        with:
          path: download-artifact
      - name: Pack
        run: |
          curl -Lo - https://github.com/tcnksm/ghr/releases/download/v0.17.0/ghr_v0.17.0_linux_amd64.tar.gz | tar xzv
          mv ghr*linux_amd64/ghr .
          source script/env_deploy.sh
          find . -name artifacts.tgz | xargs -n1 tar xvzf
          ##
          mkdir -pv core/server/gen ||:
          rm -rfv core/server/vendor ||:
          mv deployment/Sagernet.SingBox.Version.txt SingBox.Version
          mv -T deployment/vendor core/server/vendor
          rm core/server/go.mod
          rm core/server/go.sum
          mv deployment/go.mod core/server/
          mv deployment/go.sum core/server/
          mv deployment/gen/*.go core/server/gen/
          mv deployment/srslist* ./
          echo "${INPUT_VERSION}" > version.txt
          git add -f srslist* version.txt core/server/gen/*.go core/server/vendor SingBox.Version
          ##
          git ls-files --recurse-submodules | tar --transform="s,^,nekobox-unified-source-${{ github.event.inputs.tag }}/,S" -c --xz -f "deployment/nekobox-unified-source-${{ github.event.inputs.tag }}.tar.xz" -T-
          ##
          cd deployment
          rm -rf *.pdb ||:
          sha256sum "nekobox-unified-source-${{ github.event.inputs.tag }}.tar.xz" > "nekobox-unified-source-${{ github.event.inputs.tag }}.tar.xz.sha256sum"
          ####
          if [[ -d linux-amd64 ]]; then
            mv linux-amd64 nekobox
            if [[ -f nekobox/nekobox-x86_64.AppImage ]]; then
                mv nekobox/nekobox-x86_64.AppImage ./nekobox-${{ github.event.inputs.tag }}-x86_64-linux.AppImage
            fi
            zip -9 -r $version_standalone-linux-amd64.zip nekobox
            rm -rf nekobox linux-amd64
          fi
          ####
          if [[ -d linux-arm64 ]]; then
            mv linux-arm64 nekobox
            if [[ -f nekobox/nekobox-aarch64.AppImage ]]; then
                mv nekobox/nekobox-aarch64.AppImage ./nekobox-${{ github.event.inputs.tag }}-aarch64-linux.AppImage
            fi
            zip -9 -r $version_standalone-linux-arm64.zip nekobox
            rm -rf nekobox linux-arm64
          fi
          ####
          if [[ -f nekobox_setup.exe ]]; then
            mv nekobox_setup.exe $version_standalone-windows64-installer.exe
            mv windows64 nekobox
            rm nekobox/config
            zip -9 -r $version_standalone-windows64.zip nekobox
            rm -rf nekobox windows64
          fi
          ####
          if [[ -f nekobox_setup_arm64.exe ]]; then
            mv nekobox_setup_arm64.exe $version_standalone-windows-arm64-installer.exe
            mv windows-arm64 nekobox
            rm nekobox/config
            zip -9 -r $version_standalone-windows-arm64.zip nekobox
            rm -rf nekobox windows-arm64
          fi
          ####
          if [[ -f nekobox_setup32.exe ]]; then
            mv nekobox_setup32.exe $version_standalone-windows32-installer.exe
            mv windows32 nekobox
            rm nekobox/config
            zip -9 -r $version_standalone-windows32.zip nekobox
            rm -rf nekobox windows32
          fi
          ####
          if [[ -f nekobox_setup_legacy.exe ]]; then
            mv nekobox_setup_legacy.exe $version_standalone-windowslegacy64-installer.exe
            mv windowslegacy64 nekobox
            rm nekobox/config
            zip -9 -r $version_standalone-windowslegacy64.zip nekobox
            rm -rf nekobox windowslegacy64
          fi
      - name: Clean Up
        run: |
          cd deployment
          rm -rf *.pdb ||:
      - name: Uploading Artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: Deployment-${{ github.sha }}
          path: deployment
   #   - name: PreRelease
   #     if: github.event.inputs.publish == 'p'
   #     run: |
   #       ./ghr -prerelease -delete -t "${{ github.token }}" -b "${{ github.event.inputs.text }}" -n "${{ github.event.inputs.tag }}" "${{ github.event.inputs.tag }}" deployment
      - name: Release
        if: github.event.inputs.publish == 'true'
        run: |
          ./ghr -delete -t "${{ github.token }}" -b "${{ github.event.inputs.text }}" -n "${{ github.event.inputs.tag }}" "${{ github.event.inputs.tag }}" deployment
  webhook:
    name: Trigger Open Build Service
    runs-on: ubuntu-latest
    needs:
      - publish
    permissions:
      contents: read
      actions: read
    if: github.event.inputs.publish == 'true'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Linux - Install apt dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: makepkg
          version: 1.0

      - name: Trigger Open Build Service and Copr
        shell: bash
        run: |
          pip install osc copr
          export OBS_USER="${{ secrets.OBS_USER }}"
          export OBS_PASSWORD="${{ secrets.OBS_PASSWORD }}"
          export OBS_HOOK_TOKEN="${{ secrets.OBS_HOOK_TOKEN }}"
          export COPR_LOGIN="${{ secrets.COPR_LOGIN }}",
          export COPR_TOKEN="${{ secrets.COPR_TOKEN }}"
          export INPUT_VERSION=${{ github.event.inputs.tag }}
          bash ./script/trigger_open_build_service.sh
          python3 ./script/trigger_community_projects.py ||:
          bash ./script/generate_pkgbuild.sh

#      - name: Set up SSH
#        if: github.event.inputs.publish == 'r'
#        run: |
#          mkdir -p ~/.ssh
#          echo "${{ secrets.AUR_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
#          chmod 600 ~/.ssh/id_rsa
#          ssh-keyscan aur.archlinux.org >> ~/.ssh/known_hosts
#      - name: Push to AUR
#        if: github.event.inputs.publish == 'r'
#        run: |
#          git clone ssh://aur@aur.archlinux.org/nekobox.git nekobox_git
#          cp PKGBUILD nekobox_git/NEKOBOX
#          cd nekobox_git
#          makepkg --printsrcinfo > .SRCINFO
#          git add --all
#          git commit -am update
#          git push

      - name: Publish AUR package
        uses: KSXGitHub/github-actions-deploy-aur@v4.1.1
        with:
          pkgname: nekobox
          pkgbuild: ./PKGBUILD
          commit_username: ${{ github.actor }}
          commit_email: email@email.email
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Update AUR package
          ssh_keyscan_types: rsa,ecdsa,ed25519

  publish_chocolatey:
    name: Publish Chocolatey Package
    runs-on: windows-latest
    needs:
      - publish
    permissions:
      contents: read
      actions: read
    if: github.event.inputs.publish == 'true' && github.event.inputs.source != 'true' && github.event.inputs.build_windows == 'true' && github.event.inputs.publish_chocolatey == 'true'
    steps:
      - uses: actions/checkout@v4
      - uses: ConorMacBride/install-package@v1
        with:
          choco: curl jq sed
      - name: Upload Chocolatey Package
        shell: bash
        run: |
          cd ./script/
          export INPUT_VERSION=${{ github.event.inputs.tag }}
          export CHOCOLATEY_API_KEY=${{ secrets.CHOCOLATEY_API_TOKEN }}
          bash -x chocolatey_push.sh
