name: NyameBox build matrix
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Release Tag and version"
        required: true
      publish:
        description: "Publish Release"
        type: boolean
        default: true
        required: true
      text:
        description: "Release Description"
        required: false
      source_only:
        description: "Skip building binaries, distribute only unified source"
        type: boolean
        default: false
        required: false
      skip_updater:
        description: "Ship binaries without updater"
        type: boolean
        required: false
        default: false
      build_windows_x64:
        description: "Build windows x64 binaries"
        type: boolean
        default: true
        required: false
      build_windows_arm64:
        description: "Build windows ARM64 binaries"
        type: boolean
        default: true
        required: false
      build_windows_x86:
        description: "Build windows x86 binaries"
        type: boolean
        default: true
        required: false
      build_ubuntu:
        description: "Build linux x64 binaries"
        type: boolean
        default: true
        required: false
      build_ubuntu_arm:
        description: "Build linux ARM64 binaries"
        type: boolean
        default: true
        required: false
      publish_chocolatey:
        description: "Publish chocolatey packages"
        type: boolean
        default: true
        required: false
      publish_winget:
        description: "Publish WinGet manifest"
        type: boolean
        default: true
        required: false
jobs:
  build-go:
    permissions:
      contents: write
      actions: read
    env:
      INPUT_VERSION: ${{ github.event.inputs.tag }}
    strategy:
  #    max-parallel: 1
      matrix:
        include:
          - cross_os: public
            cross_arch: public
            go_version: "1.25.6"
          - cross_os: linux
            cross_arch: amd64
            go_version: "1.25.6"
            allow: ${{ github.event.inputs.build_ubuntu }}
          - cross_os: linux
            cross_arch: arm64
            go_version: "1.25.6"
            allow: ${{ github.event.inputs.build_ubuntu_arm }}
          - cross_os: windows
            cross_arch: amd64
            go_version: "1.25.6"
            allow: ${{ github.event.inputs.build_windows_x64 }}
          - cross_os: windows
            cross_arch: arm64
            go_version: "1.25.6"
            allow: ${{ github.event.inputs.build_windows_arm64 }}
          - cross_os: windows
            cross_arch: 386
            go_version: "1.25.6"
            allow: ${{ github.event.inputs.build_windows_x86 }}
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checking out sources
        if: matrix.cross_os == 'public' || ( github.event.inputs.source_only  != 'true' && matrix.allow == 'true' )
        uses: actions/checkout@main
        with:
          ref: 'main'
          submodules: 'true'
      - name: Cache Common Download
        id: cache-common
        if: matrix.cross_os != 'public' && ( github.event.inputs.source_only  != 'true' && matrix.allow == 'true' )
        uses: actions/cache@v4.2.3
        with:
          path: artifacts.tgz
          key: CommonCache-${{ matrix.cross_os }}-${{ matrix.cross_arch }}-${{ hashFiles('script/build_go.sh', 'core/*') }}-${{ matrix.go_version }}
      - name: Install Golang
        if: ( matrix.cross_os == 'public' || ( github.event.inputs.source_only  != 'true' && matrix.allow == 'true' ) ) && steps.cache-common.outputs.cache-hit != 'true'
        uses: qr243vbi/setup-go@main
        with:
          go-version: ${{ matrix.go_version }}
          cache-dependency-path: |
            core/server/go.sum
            core/updater/go.sum
      - name: Linux - Install apt dependencies
        if: matrix.cross_os == 'public' || ( github.event.inputs.source_only  != 'true' && matrix.allow == 'true' )
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: thrift-compiler
          version: 1.0
      - name: Build golang parts
        if: steps.cache-common.outputs.cache-hit != 'true' && matrix.cross_os != 'public' && ( github.event.inputs.source_only  != 'true' && matrix.allow == 'true' )
        shell: bash
        run: |
          if [[ ${{ github.event.inputs.skip_updater }} == 'true' ]]; then
            export SKIP_UPDATER=y
          fi
          GO_MOD_TIDY=yes GOOS=${{ matrix.cross_os }} GOARCH=${{ matrix.cross_arch }} ./script/build_go.sh
      - name: Build vendor
        if: matrix.cross_os == 'public'
        shell: bash
        run: |
          env INPUT_VERSION=${{ github.event.inputs.tag }} bash -x ./script/deploy_vendor.sh
      - name: Installing ghr
        if: matrix.cross_os == 'public' && github.event.inputs.publish == 'true'
        run: |
          go install github.com/tcnksm/ghr@latest
          ghr -delete -t "${{ github.token }}" -b "$(echo -e "${{ github.event.inputs.text }}")" -n "${{ github.event.inputs.tag }}" "${{ github.event.inputs.tag }}" deployment

      - name: Tar files
        if: matrix.cross_os != 'public' && ( github.event.inputs.source_only  != 'true' && matrix.allow == 'true' && steps.cache-common.outputs.cache-hit != 'true' )
        run: tar czvf artifacts.tgz ./deployment
      - name: Uploading Artifact
        if: matrix.cross_os != 'public' || ( github.event.inputs.source_only  != 'true' && matrix.allow == 'true' )
        uses: actions/upload-artifact@v4.6.2
        with:
          name: nekobox-${{ github.sha }}-Common-${{ matrix.cross_os }}-${{ matrix.cross_arch }}
          path: artifacts.tgz
  upload_aur:
    permissions:
      contents: read
    needs:
      - build-go
    runs-on: ubuntu-latest
    if: github.event.inputs.publish == 'true'
    steps:
      - name: Checking out sources
        uses: actions/checkout@main
        with:
          ref: 'main'
          submodules: 'false'
      - name: Create requirements.txt
        shell: bash
        run: |
          echo osc copr > requirements.txt
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Trigger Open Build Service and Copr
        shell: bash
        run: |
          pip install osc
          export OBS_USER="${{ secrets.OBS_USER }}"
          export OBS_PASSWORD="${{ secrets.OBS_PASSWORD }}"
          export OBS_HOOK_TOKEN="${{ secrets.OBS_HOOK_TOKEN }}"
          export INPUT_VERSION="${{ github.event.inputs.tag }}"
          bash ./script/generate_pkgbuild.sh
          bash ./script/trigger_open_build_service.sh

      - name: Publish AUR package
        uses: KSXGitHub/github-actions-deploy-aur@v4.1.1
        with:
          pkgname: nekobox
          pkgbuild: ./PKGBUILD
          commit_username: ${{ github.actor }}
          commit_email: email@email.email
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Update AUR package
          ssh_keyscan_types: rsa,ecdsa,ed25519
  build-cpp:
    permissions:
      contents: read
    needs:
      - build-go
    strategy:
      matrix:
        include:
          - platform: windows-11-arm
            target: arm64
            qt_version: 6.10.2
            triplet: arm64-windows
            allow: ${{ github.event.inputs.build_windows_arm64 }}
          - platform: windows-latest
            target: x86_64
            qt_version: 6.10.0
            triplet: x64-windows
            allow: ${{ github.event.inputs.build_windows_x64 }}
          - platform: windows-latest
            target: x86
            qt_version: 6.10.0
            triplet: x86-windows
            allow: ${{ github.event.inputs.build_windows_x86 }}
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      INPUT_VERSION: ${{ github.event.inputs.tag }}
    steps:
      - name: Checking out sources
        if: matrix.allow == 'true' && github.event.inputs.source_only != 'true'
        uses: actions/checkout@main
        with:
          ref: 'main'
          submodules: "false"

      - name: Setup Ninja
        if: matrix.allow == 'true' && github.event.inputs.source_only != 'true'
        uses: qr243vbi/setup-ninja@master

      - name: Install NSIS x64
        if: matrix.allow == 'true' && github.event.inputs.source_only != 'true' && matrix.target != 'arm64'
        uses: negrutiu/nsis-install@v2
        with:
          arch: ${{ matrix.target }}

      - name: Install Customized Qt
        if: matrix.allow == 'true' && github.event.inputs.source_only != 'true' && matrix.target != 'arm64'
        uses: qr243vbi/qt6windows7@main
        with:
          version: ${{ matrix.qt_version }}_${{ matrix.target }}

      - name: Install Qt
        if: matrix.allow == 'true' && github.event.inputs.source_only != 'true' && matrix.target == 'arm64'
        uses: jurplel/install-qt-action@v4.3.0
        with:
          version: ${{ matrix.qt_version }}
          setup-python: true
          cache: true
          modules: qtcharts
          cache-key-prefix: QtCache-${{ matrix.platform }}-${{ matrix.target }}

      - name: Install MSVC compiler
        if: matrix.allow == 'true' && github.event.inputs.source_only != 'true'
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.target }}

      - name: vcpkg build
        uses: johnwason/vcpkg-action@v7
        if: matrix.allow == 'true' && github.event.inputs.source_only != 'true'
        id: vcpkg
        with:
          pkgs: thrift
          triplet: ${{ matrix.triplet }}
          token: ${{ github.token }}
          
      - name: Download Artifacts
        if: matrix.allow == 'true' && github.event.inputs.source_only != 'true'
        uses: actions/download-artifact@v4.3.0
        with:
          path: download-artifact

      - name: Download Srslist
        if: matrix.allow == 'true' && github.event.inputs.source_only != 'true'
        shell: bash
        run: |
          curl -fLso "srslist.json" "https://github.com/qr243vbi/ruleset/raw/refs/heads/rule-set/srslist.json"
          mkdir build

      - name: Cache Builds
        id: cache-common
        if: github.event.inputs.source_only  != 'true' && matrix.allow == 'true'
        uses: actions/cache@v4.2.3
        with:
          path: build
          key: NinjaCache-${{ matrix.platform }}-${{ matrix.target }}-${{ github.event.inputs.tag }}

      - name: Windows - Generate MakeFile and Build
        if: matrix.allow == 'true' && github.event.inputs.source_only  != 'true'
        shell: bash
        run: |
          if [[ ${{ github.event.inputs.skip_updater }} == 'true' ]]; then export SKIP_UPDATE_BUTTON=ON; else export SKIP_UPDATE_BUTTON=OFF; fi
          cmake $CMAKE_OPTS -GNinja -DCMAKE_TOOLCHAIN_FILE='${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake' '-DVCPKG_TARGET_TRIPLET=${{ matrix.triplet }}' -DVCPKG_MANIFEST_MODE=OFF -DSKIP_UPDATE_BUTTON="${SKIP_UPDATE_BUTTON}" -DCMAKE_BUILD_TYPE=Release "-DNKR_DEFAULT_VERSION=${INPUT_VERSION}" -S . -B build
          cmake --build build --config Release --verbose
          ./script/deploy_windows.sh "${{ matrix.target }}"

      - name: Tar files
        shell: bash
        if: matrix.allow == 'true' && github.event.inputs.source_only  != 'true'
        run: tar czvf artifacts.tgz ./deployment

      - name: Uploading Artifact
        if: matrix.allow == 'true' && github.event.inputs.source_only  != 'true'
        uses: actions/upload-artifact@v4.6.2
        with:
          name: nekobox-${{ github.sha }}-${{ matrix.platform }}-${{ matrix.target }}-Qt${{ matrix.qt_version }}
          path: artifacts.tgz

  build-cpp-linux:
    permissions:
      contents: write
      actions: read
    needs:
      - build-go
    strategy:
      matrix:
        include:
          - platform: ubuntu-24.04
            qt_version: 6.10.2
            target: amd64
            allow: ${{ github.event.inputs.build_ubuntu }}
          - platform: ubuntu-24.04-arm
            qt_version: 6.10.2
            target: arm64
            allow: ${{ github.event.inputs.build_ubuntu_arm }}
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      INPUT_VERSION: ${{ github.event.inputs.tag }}
    steps:
      - name: Checking out sources
        if: matrix.allow == 'true' && github.event.inputs.source_only  != 'true'
        uses: actions/checkout@main
        with:
          ref: 'main'
          submodules: "false"

      - name: Download Artifacts
        if: matrix.allow == 'true' && github.event.inputs.source_only  != 'true'
        uses: actions/download-artifact@v4.3.0
        with:
          path: download-artifact

      - name: Install Qt
        if: matrix.allow == 'true' && github.event.inputs.source_only  != 'true'
        uses: jurplel/install-qt-action@v4.3.0
        with:
          version: ${{ matrix.qt_version }}
          setup-python: true
          cache: true
          modules: qtcharts
          cache-key-prefix: QtCache-${{ matrix.platform }}-${{ matrix.target }}

      - name: Download Srslist
        if: matrix.allow == 'true' && github.event.inputs.source_only  != 'true'
        shell: bash
        run: |
          curl -fLso "srslist.json" "https://github.com/qr243vbi/ruleset/raw/refs/heads/rule-set/srslist.json"
          mkdir build

      - name: Linux - Install apt dependencies
        if: matrix.allow == 'true' && github.event.inputs.source_only  != 'true'
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libfuse2 patchelf squashfs-tools openssl-dev openssl thrift-compiler libthrift-dev
          version: 1.0

      - name: Cache Builds
        id: cache-common
        if: github.event.inputs.source_only  != 'true' && matrix.allow == 'true'
        uses: actions/cache@v4.2.3
        with:
          path: build
          key: CommonCache-${{ matrix.platform }}-${{ matrix.target }}-${{ github.event.inputs.tag }}

      - name: Linux - Generate MakeFile and Build
        if: matrix.allow == 'true' && github.event.inputs.source_only  != 'true'
        shell: bash
        run: |
          cd build
          if [[ ${{ github.event.inputs.skip_updater }} == 'true' ]]; then export SKIP_UPDATE_BUTTON=ON; else export SKIP_UPDATE_BUTTON=OFF; fi
          cmake -GNinja -DSKIP_UPDATE_BUTTON="${SKIP_UPDATE_BUTTON}" -DCMAKE_BUILD_TYPE=Release "-DNKR_DEFAULT_VERSION=${INPUT_VERSION}" ..
          ninja
          cd ..
          if [[ "${{ github.event.inputs.publish }}" == "true" ]]
          then
            export UPLOAD_WITH_GH=yes
            export GH_TOKEN='${{ github.token }}'
          fi
          bash -x ./script/deploy_linux64.sh

#      - name: Tar files
#        if: matrix.allow == 'true' && github.event.inputs.source_only  != 'true'
#        shell: bash
#        run: tar czvf artifacts.tgz ./deployment

#      - name: Uploading Artifact
#        if: matrix.allow == 'true' && github.event.inputs.source_only  != 'true'
#        uses: actions/upload-artifact@v4.6.2
#        with:
#          name: nekobox-${{ github.sha }}-${{ matrix.platform }}-${{ matrix.target }}-Qt${{ matrix.qt_version }}
#          path: artifacts.tgz

  publish:
    name: Pack & Publish Release
    runs-on: windows-latest
    needs:
      - build-cpp
    permissions:
      contents: write
      actions: read
    env:
      INPUT_VERSION: ${{ github.event.inputs.tag }}
    if: github.event.inputs.publish == 'true'
    steps:
      - name: Checking out sources
        uses: actions/checkout@main
        with:
          ref: 'main'
          submodules: "false"
      - name: Download Artifacts
        uses: actions/download-artifact@v4.3.0
        with:
          path: download-artifact
      - name: Install Zip, Curl
        uses: ConorMacBride/install-package@v1
        with:
          choco: zip nsis curl jq

      - name: Download a ghr
        uses: ethanjli/cached-download-action@v0.1.3
        with:
          url: https://github.com/tcnksm/ghr/releases/download/v0.17.0/ghr_v0.17.0_windows_amd64.zip
          destination: ghr_windows_amd64.zip
      - name: Pack
        shell: bash
        run: |
          unzip --help
          zip --help
          sha256sum --help
          unzip ghr_windows_amd64.zip
          mv ghr*windows_amd64/ghr.exe .
          source script/env_deploy.sh
          find . -name artifacts.tgz | xargs -n1 tar xvzf
          ##
          cd deployment
          rm -rf *.pdb ||:
          ####
          if [[ -f nekobox_setup.exe ]]; then
            mv nekobox_setup.exe $version_standalone-windows64-installer.exe
            mv windows64 nekobox
            zip -9 -r $version_standalone-windows64.zip nekobox
            rm -rf nekobox windows64
          fi
          ####
          if [[ -f nekobox_setup_arm64.exe ]]; then
            mv nekobox_setup_arm64.exe $version_standalone-windows-arm64-installer.exe
            mv windows-arm64 nekobox
            zip -9 -r $version_standalone-windows-arm64.zip nekobox
            rm -rf nekobox windows-arm64
          fi
          ####
          if [[ -f nekobox_setup32.exe ]]; then
            mv nekobox_setup32.exe $version_standalone-windows32-installer.exe
            mv windows32 nekobox
            zip -9 -r $version_standalone-windows32.zip nekobox
            rm -rf nekobox windows32
          fi

      - name: Clean Up
        shell: bash
        run: |
          cd deployment
          rm -rf *.pdb ||:
      - name: Uploading Artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: Deployment-${{ github.sha }}
          path: deployment
      - name: Release
        shell: bash
        run: |
          ./ghr.exe -replace -t "${{ github.token }}" -b "$(echo -e "${{ github.event.inputs.text }}")" -n "${{ github.event.inputs.tag }}" "${{ github.event.inputs.tag }}" deployment

  upload_winget:
    name: Trigger WingetPkgs and Chocolatey
    runs-on: ubuntu-latest
    needs:
      - publish
    permissions:
      contents: write
      actions: read
    if: github.event.inputs.publish == 'true' && github.event.inputs.build_windows_arm64 == 'true' && github.event.inputs.build_windows_x86 == 'true' && github.event.inputs.build_windows_x64 == 'true' && github.event.inputs.source_only != 'true'
    steps:
      - uses: actions/checkout@main
        with:
          ref: 'main'
          submodules: 'false'
      - name: Linux - Install apt dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: curl jq git gh
          version: 1.0

      - name: Run winget-pkgs
        shell: bash
        run: |
          export GITHUB_TOKEN="${{ secrets.WINGET_TOKEN }}"
          export INPUT_VERSION="${{ github.event.inputs.tag }}"
          export EMAIL="${{ secrets.EMAIL }}"
          export UPLOAD_WITH_GH=yes
          export GH_TOKEN='${{ github.token }}'
          if [[ '${{ github.event.inputs.publish_winget }}' == 'true' ]]
          then
            bash ./script/trigger_winget_pkgs.sh
          fi
          if [[ '${{ github.event.inputs.publish_chocolatey }}' == 'true' ]]
          then
            pushd script
            bash chocolatey_push.sh
            popd
          fi



